body,ul,li,p,h1,h2,h3{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-font-v16.1.0/Vazir.eot');
    src: url('../fonts/vazir-font-v16.1.0/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-font-v16.1.0/Vazir-Bold.eot');
    src: url('../fonts/vazir-font-v16.1.0/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Bold.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir-font-v16.1.0/Vazir-Light.eot');
    src: url('../fonts/vazir-font-v16.1.0/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Light.woff') format('woff'),
    url('../fonts/vazir-font-v16.1.0/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}
