<template>
    <div>

        <div class="phoneFix">
            <a href="tel:05138411400">
                <img src="@/assets/image/phone.png">
                <span>تماس سریع</span>
            </a>
        </div>

        <div class="head">
            <img src="@/assets/image/title.jpg">
        </div>

        <hooper class="slider" id="slider1" style="height: auto" :settings="hooperSettings">
            <slide><img src="@/assets/image/cover_01.jpg"></slide>
            <slide><img src="@/assets/image/cover_02.jpg"></slide>
            <slide><img src="@/assets/image/cover_03.jpg"></slide>
            <slide><img src="@/assets/image/cover_04.jpg"></slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
            <hooper-pagination slot="hooper-addons"></hooper-pagination>
        </hooper>


        <hooper class="slider" id="slider2" style="height: auto" :settings="hooperSettings">
            <slide> <div class="imgSlider" :style="{background:'url('+require('@/assets/image/cover_01.jpg')+')','background-size':'cover','background-position':'center'}"></div> </slide>
            <slide> <div class="imgSlider" :style="{background:'url('+require('@/assets/image/cover_02.jpg')+')','background-size':'cover','background-position':'center'}"></div> </slide>
            <slide> <div class="imgSlider" :style="{background:'url('+require('@/assets/image/cover_03.jpg')+')','background-size':'cover','background-position':'center'}"></div> </slide>
            <slide> <div class="imgSlider" :style="{background:'url('+require('@/assets/image/cover_04.jpg')+')','background-size':'cover','background-position':'center'}"></div> </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
            <hooper-pagination slot="hooper-addons"></hooper-pagination>
        </hooper>



        <Register text="برای مشاوره رایگان لطفا نام و شماره خود را وارد کنید"/>

        <div class="textFix">

            <h3>مشخصات کلی پروژه:</h3>
            <p>مجتمع مسکونی کارن ، واقع در یکی از ناب ترین مناطق مرکزی و با اصالت شهر مشهد مقدس ، دارای دسترسی بسیار روان به حرم مطهرامام رضا (علیه السلام) و مناطق مهم (اداری و تفریحی ) شهری واقع شده است .</p>
            <p>این پروژه در زمینی به متراژ 650 متر ، در 13 سقف و 38 واحد مسکونی با زیربنای تقریبی هر واحد 130 متر مفید برنامه ریزی شده است .</p>

            <h3>چزئیات پروژه شامل :</h3>
            <ul>
                <li>طبقات منفی در 3 طبقه : پارکینگ ها با رمپ رفت و برگشت + انباری ها و واحد اقامت نگهبانی و سرایداری</li>
                <li>طبقه همکف شامل لابی و فضای انتظار مهمان (پذیرش) + 2 واحد مسکونی</li>
                <li>طبقات اول تا نهم ؛  هر طبقه شامل دو بخش کالا مجزا شمالی و جنوبی ، با راه پله ها و آسانسور مستقل برای هر 2 واحد و در هر طبقه به صورت کلی 4 واحد ( 2 بخش دواحدی ) طراحی شده است.</li>
                <li>تمامی واحدهای مسکونی بسیار خوش نقشه ، غرق در نور (11 متر حاشیه نورگیری مستقیم هر واحد) استفاده از تمامی متراژ اختصاص داده شده به صورت مفید از لحاظ مهندسی و نقشه کشی .</li>
            </ul>

            <h3>امکانات :</h3>
            <ul>
                <li>در طبقات مسکونی به صورت مجزا دو دستگاه آسانسور 13 نفره و دو راه پله ی استاندارد جداگانه طراحی شده است</li>
                <li>واحد های طبقات مسکونی دارای نورگیری بسیار مطلوب و امکانات بروز می باشد .</li>
                <li>سیستم امنیتی ، سیستم اطفاء حریق پیشرفته ، دیوار ها کاغذ ، کابینت های به روز با روکش چوب ، گازرومیزی ، حمام مستر ، سرمایش اسپیلت ، گرمایش پکیج رادیاتور ، درب های ضدسرقت ، پنجره های دوجداره عایق و ... از جمله امکانات هر واحد می باشد.</li>
            </ul>

            <h3>پیشرفت پروژه :</h3>
            <p>در حال حاضر پروژه در مرحله اجرای فندانسیون و اجرای سقف طبقات منفی قراردارد.</p>

            <h3>تاریخ تحویل پروژه : </h3>
            <p>خرداد ماه سال 1401 </p>

            <b>جهت دریافت اطلاعات بیشتر همکاران ما از ساعت 8:30 صبح الی 14 و از ساعت 16:30 الی 20:30 پاسخگوی تماس های ارزشمند شما عزیزان خواهند بود .</b>
            <p>شماره تماس سازمان فروش :
                <a href="tel:05138411400">05138411400</a>
                شرکت مسکن و ساختمان مشهدپوشش</p>
            <p>شمار موبایل ارتباط با مشتری : <a href="tel:09152607110">09152607110</a> </p>

        </div>

            <Register text="برای مشاوره رایگان لطفا شماره موبایل خود را وارد کنید و منتظر تماس کارشناسان ما بمانید"/>

        <div class="textFix">
            <h3>چرا سرمایه گذاری در پروژه کارن ؟</h3>

            <p>حتما شماهم شنیدید و یا حتی به چشم دیدید که ، سرمایه گذاری در ملک و ساختمان ، از دیرباز ، یکی از پربازده ترین و کم نوسان ترین ، انواع سرمایه گذاری ها بوده است و اگر در این نوع سرمایه گذاری با بررسی فرصت ها ، انتخابی ایده آل با پتانسیل بالا انجام شود ، قطعا آینده ای درخشان و تضمین شده از تمامی جهات در انتظار سرمایه مالی هر فرد خواهد بود .</p>
            <p>استان خراسان رضوی و مشخصا کلان شهر مشهد با توجه به پتاسنیل های بالقوه گردشگری ، صنعتی و مذهبی ، به قطب بی بدیل سرمایه گذاری سال های اخیر ، در کشور عزیزمان ایران تبدیل شده است تاجایی که حتی توجه بسیاری از سرمایه گذاران خارجی را نیز علاوه بر ، هم میهنان عزیزمان ، به خود جلب و معطوف نموده است.</p>
            <p>مجتمع مسکونی کارن ، واقع در یکی از ناب ترین مناطق مرکزی و با اصالت شهر مشهد ، دارای دسترسی بسیار روان به حرم مطهرامام رضا (علیه السلام) و مناطق مهم (اداری و تفریحی) شهری واقع شده است و میتوان از آن به چشم یک فرصت ناب سرمایه گذاری در فرصتی محدود ؛ حداکثر استفاده را انجام داد . </p>

            <b>جهت دریافت اطلاعات بیشتر همکاران ما از ساعت 8:30 صبح الی 14 و از ساعت 16:30 الی 20:30 پاسخگوی تماس های ارزشمند شما عزیزان خواهند بود .</b>
            <p>شماره تماس سازمان فروش :
                <a href="tel:05138411400">05138411400</a>
                شرکت مسکن و ساختمان مشهدپوشش</p>
            <p>شمار موبایل ارتباط با مشتری : <a href="tel:09152607110">09152607110</a> </p>

        </div>

        <Register text="سازمان فروش / شرکت مسکن و ساختمان مشهد پوشش"/>


    </div>
</template>

<script>
    import Register from './register';
    import { Hooper, Slide,
        Pagination as HooperPagination,
        Navigation as HooperNavigation
    } from 'hooper';
    import 'hooper/dist/hooper.css';

    export default {
        name: 'Home',
        data() {
            return {
                hooperSettings: {
                    autoPlay:true,
                    infiniteScroll:false,
                    mouseDrag:false,
                    touchDrag:false,
                    wheelControl:false,
                    itemsToShow: 1,
                    centerMode: true,
                    breakpoints: {
                        500: {
                            itemsToShow: 1,
                        },
                        1000: {
                            itemsToShow: 1,
                        }
                    }
                }
            };
        },
        components: {
            HooperPagination,
            HooperNavigation,
            Hooper,
            Slide,
            Register
        }
    }
</script>
<style>

    *,*:hover,*:active{
        outline: none
    }
    .phoneFix{
        position: fixed;
        z-index: 99;
        background: #27ae60;
        border-radius: 100px;
        padding: 3px 10px 4px 10px;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        left: 20px;
        bottom: 20px;
        box-shadow: -34px 0 0 0 rgba(0,0,0,0.08) inset;
    }
    .phoneFix a{
        text-decoration: none;
        color: #fff;
        font-weight: bold !important;
        font-size: 13px;
    }
    .phoneFix img{
        width: 14px;
        float: right;
        margin-top: 6px;
        margin-left: 10px;
        padding: 0 4px;
    }
    .phoneFix span{
        float: right;
        padding: 2px;
    }
    .head{
        text-align: center;
        background: #f9a61a;
        color: #fff;
        min-height: 30px;
    }
    .head img{
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 0;
    }
    .head h1{
        font-size: 20px;
        font-weight: bold;
        color: #000;
    }
    .head h2{
        font-size: 18.5px;
    }
    .slider{
        padding-top: 10px;
        background: #968170;
        text-align: center;
    }
    .slider img{
        max-height: 340px;
        max-width: 100%;
    }
    .textFix{
        text-align: justify;
        direction: rtl;
        padding: 10px 20px;
        font-size: 14px;
    }
    .textFix h3{
        color: red;
        margin-top: 20px;
    }
    .textFix p{
        display: block;
        margin-bottom: 10px;
    }
    .imgSlider{
        height: 600px;
        width: 100%;
    }
    @media only screen and (max-width: 600px) {
        #slider2 {
            display: none;
        }
    }
    @media only screen and (min-width: 600px) {
        #slider1 {
            display: none;
        }
        #slider2{
            padding-top: 0;
        }
        .phoneFix a{
            font-size: 18px;
        }
        .phoneFix a img{
            height: 20px;
            width: 20px;
        }
    }
</style>
