<template>
    <div class="register">
        <h2>{{text}}</h2>
        <div>
            <div class="box">
                <div>
                    <input v-model="form.namefull" class="namefull" placeholder="نام و نام خانوادگی " type="text" />
                </div>
                <div>
                    <input  @keypress="onlyNumber" v-model="form.mobile" onKeyPress="if(this.value.length==11) return false;"  class="mobile" placeholder="شماره موبایل " type="number" />
                </div>
                <button v-if="!loading" v-on:click="save">ثبت</button>
                <button v-if="loading">صبر</button>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    export default {
        props:['text'],
        data(){
            return{
                loading:false,
                form:{
                    namefull:"",
                    mobile:"",
                    ref:"",
                }
            }
        },
        methods:{
            onlyNumber ($event) {
                //console.log($event.keyCode); //keyCodes value
                let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
                if ((keyCode < 48 || keyCode > 57 ) && keyCode !== 46 ) { // 46 is dot
                    $event.preventDefault();
                }
            },
            save(){

                if(this.form.namefull.length==0){
                    alert("لطفا نام و نام خانوادگی خود را به صورت کامل وارد کنید")
                }else if(!(this.form.mobile.match(/^(\+98|0098|98|0)?9\d{9}$/g))){
                    alert("شماره موبایل خود را به صورت صحیح وارد کنید");
                }else{
                    this.loading = true;

                    axios.post('http://mpmelk.com/Api3/save',
                        this.form).then(response => {


                        var utm_ma = (this.$route.query.utm_ma) ? this.$route.query.utm_ma : "";
                        if (utm_ma.length > 5) {
                            axios.get('https://s1.mediaad.org/serve/post-back?clickId=' + utm_ma + '&actionName=mpmelk');
                        }

                        console.log(response.data);
                        this.loading = false;
                        alert("اطلاعات شما با موفقیت ثبت شد . به زودی کارشناسان ما برای مشاوره نحوه سرمایه گذاری با شما تماس میگیرند");

                        this.form = { namefull:"",mobile:"",ref:((this.$route.query.ref)?this.$route.query.ref:"")}

                    }).catch(() => {
                        this.loading = false;
                    });

                }



            }
        },
        mounted() {
            this.form.ref = (this.$route.query.ref)?this.$route.query.ref:""
        }
    }
</script>
<style scoped>
    .register{
        background: #5ec6cf;
        text-align: right;
        color: #000;
        min-height: 120px;
        padding: 20px 10px;
    }
    .register h2{
        font-size: 16px;
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }
    .register .box{
        width: 270px;
        margin: 2px auto;
        height: 80px;
    }
    .register input.namefull{
        width: calc(100% - 12px);
    }
    .register input.mobile{
        width: calc(100% - 70px);
    }
    .register input{
        display: block;
        max-width: 270px;
        margin: 0 auto;
        border: 2px solid #f9a61a;
        margin-bottom: 4px;
        padding: 4px;
        float: left;
        font: 18px/1.2 Vazir;
        text-align: center;
        font-weight: bold;
        border-radius: 10px;
        background: #fcffd7;
    }
    .register button{
        position: relative;
        width: 50px;
        float: left;
        background: #f9a61a;
        border: none;
        font: 18px/1.2 Vazir;
        margin-left:8px;
        color: #fff;
        padding: 9px 0;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 1px;
        font-weight: bold;
        font-size: 15px;
    }
    .register button:before{
        position: absolute;
        width: 10px;
        height: 10px;
        cursor: pointer;
        content: "";
        left: -2px;
        top: 12px;
        transform: rotate(45deg);
        background: #f9a61a;
    }
    .register small{
        display: block;
        font-weight: bold;
        width: 270px;
        color: #fcffd7;
        margin: 0 auto;
        padding: 4px;
    }

</style>
